body {
    height : 100vh;
    width: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

div {
    height: 300px;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 1.5rem;
}